Source: konq-plugins
Section: utils
Priority: extra
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Build-Depends: debhelper (>= 6), cmake, quilt (>= 0.40), cdbs, libkonq5-dev (>= 4:4.0.80)
Uploaders: Xavier Vello <xavier.vello@gmail.com>
Standards-Version: 3.8.0

Package: konq-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, konqueror (>= 4:4.0.80), python, libjpeg-progs
Enhances: konqueror
Recommends: imagemagick
Description: plugins for Konqueror, the KDE file/web/doc browser
 This package contains a variety of useful plugins for Konqueror, the
 file manager, web browser and document viewer for KDE.  Many of these
 plugins will appear in Konqueror's Tools menu.
 .
 These plugins are not part of the official KDE4 release, they are a
 development snapshot of extragear software.
