#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/makefiles/1/cdbs/kde.mk
include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/konq-plugins::
	dh_installman -pkonq-plugins --language=C debian/man/*.1
